html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Montserrat !important; */
  /* font-weight: "700"; */
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI' !important; 
  /* font-weight: 500; */
  /* font-size: 18px; */
}

.homebanner{
  height: 80vh;
  margin-top: 5rem !important;
  background-size: cover;
  background-position: top center;
  background-image: url("../utils/images/homepagebanner.png");
  }

  
.welcometo{
       font-family:Montserrat Regular !important;
       color:white !important;
       letter-spacing: 3px !important;
       font-size: 30px !important;

         }

   .bggroup{

    font-weight:700 !important;
    font-size:50px !important;
    letter-spacing:3px !important;
    color:#0E9FFF;
   }      


.cardimage{
  font-family:Segoe UI;
  font-weight:bold;
   width: 80%;
   box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  opacity: 1;
  background-color: white;
 
  padding:30px;
  margin-top:-110px;
  color:#003F68;

}
@media only screen and (max-width: 1032px) {
  .homebanner {
    background-position: center center;   
    height: 30vh !important;

}
}

    @media only screen and (min-width: 480px) {
      .homebanner {
        background-position: center center;   
    }
    }


    @media only screen and (min-width: 600px) {
      .cardimage {
        display: flex;
        direction:column;
        justify-content: center;
        align-items: center;
     
      }
      
    }
    @media only screen and (min-width: 400px) {
      .welcometo {
    
     text-align: left !important;
    
      }
      .bggroup{
        line-height: 2rem !important;
      }
      
    }
    @media only screen and (max-width: 1032px) {
      .welcometo {
        display: none !important;
    
      }
      .bggroup{
     display: none !important;
      }
      
    }

.bannerBusinessVertiacals{
  background-image: url('../utils/images/businessbanner.png');
  color:#ffffff !important;
  height:50vh;
  background-size: cover;
  }

  @media screen and (max-width: 600px) {
    .bannerBusinessVertiacals {
      background-image: none;
      color:#163854 !important;
      height:30vh;
      background-size: cover;
    }
  }
.businessVertiacalsGrid{
  padding: 2rem !important;
  line-height:1.5px;
  font-size:18px;
  font-weight:500;
  }

.navList{
  font-size:16px;
  font-weight:500;
  padding:1rem !important;

}
.businessTypography{
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: #2A2A2A;
}
/* .MuiInput-underline::after{
  transform: none !important;
  transition: none !important;
  border-bottom: none !important;
  pointer-events: none !important;
}  */
.BusinessVertiacalstext1{
  padding-top: 7rem;
  font-size: 40px !important;
  margin: 0px !important;
  font-weight: bold !important;
  @media screen and (max-width: 600px) {
    .BusinessVertiacalstext1 {
      font-size: 35px !important;
    }}
}
.BusinessVertiacalstext2{
  font-size: 24px !important;
  margin: 0px !important;
  font-weight: bold !important;
}

.contacttextfield{
  border: 1px solid black !important;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 5em;
  width: 500px;
  padding: 0px !important;
  height:4em !important;
  }
@media only screen and (min-width: 768px) {
  .contacttextfield{
    width: 400px;
}}

@media screen and (max-width: 600px) {
  .contacttextfield {
    width:350px !important;
  }}

.contactbutton{
 width: 200px;
 background-color: #00c2e0 !important;
 height: 35px;
 color:#ffffff !important;
 text-transform: none !important;
}

@media screen and (max-width: 600px) {
  .imgGraph {
    width:250px !important;
  }}

.aboutUs{
  background-image: url('../utils/images/aboutUs/aboutUsBanner.png');
  text-indent: -9999px;
  height:60vh;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .aboutUs {
    background-image:none;
    color:#0F3C59 !important;
    padding: 4em;
    display: inline !important;
    text-indent: 50px;
    height:30vh;
    background-size: cover;
    font-weight: 700 !important;
  }}
  @media only screen and (min-width: 768px) {
    .aboutUs{
      background-image: url('../utils/images/aboutUs/aboutUsBanner.png');
      text-indent: -9999px;
      height:50vh;
    }
  }
  .contactUs{
    background-image: url('../utils/images/contactus/contactusbanner.png');
    text-indent: -9999px;
    height:50vh;
    background-size: cover;
  }
  @media only screen and (max-width:810px) {
    .contactUs{
      background-image:none;
      color:#0F3C59 !important; 
    padding: 4em;
    display: inline !important;
    text-indent: 50px;
    height:20vh;
    font-size: 20px !important;
    background-size: cover;
    font-weight: 700 !important;
    }
  }
  @media screen and (max-width: 600px) {
    .contactUs {
      background-image:none;
      color:#0F3C59 !important;
      padding: 3em;
      display: inline !important;
      text-indent: 50px;
      height:30vh;
      background-size: cover;
      font-weight: 700 !important;
    }}

.businessDivider{
  margin: 2rem !important;
  height: 2px !important;
}
.aboutusTypography{
  font-weight: 700 !important;
  color:#0F3C59;
  font-size: 40px !important;
  text-shadow: 2px 0px 3px #0F3C59!important;
}

.navbarInfo{
  /* direction:row !important; */
  justify-content:flex-end !important;
  align-items:flex-start !important;
  margin-left:18em !important;
  padding-top:5px !important;
}

@media only screen and (min-width: 1280px) {
  .navbarInfo {
    direction:column !important;
    /* justify-content:flex-end !important; */
    align-items:center !important;
    /* margin-left:0rem !important;
    padding-top:0px !important; */
  }

}

}

@media only screen and (max-width: 700px) {
  .navbarInfo {
    display: none !important;
  }
}


.navbar {
  background-color:#ffffff;
  height : 110px;
  padding: 5 20px !important;
  
  
}
.a {
  color: black !important;
  margin: 0px 15px !important;
}
.mainbar {
  flex-grow: 1 !important;
}
/* .menuListContainer{ */
  .menuListContainer{
    padding: 0px !important;
  }
  /* .div{
      border-bottom: 1px solid grey;
     }
     */

.sectionDesktop {
  display: none !important;
}
@media only screen and (min-width: 700px) { 
  .sectionDesktop {
    display: flex !important;
  padding:0px 5px !important;}
  
}
.mobileDesktop {
  display:none;
  /* [theme.breakpoints.down("sm") ]: {
    display: flex;
  } */
}
@media screen and (max-width: 600px) {
  .mobileDesktop {
    display: flex;
  }}
mobilemenu{
  color: black;
}
nabarItem {
  list-style: none;
  margin-top: 15px;
}
@media screen and (max-width: 700px) {
  .mobileDesktop {
    display: flex;
  }}
/* // mobilemeuDesign {
//   height: 'auto,
//   [ theme.breakpoints.up("md") ]: {
//     // display: 'none',
//   },
// }, */
dropdownIcon{
  margin-top:3px;
}

drawer {
  width: drawerWidth;
  text-align: center;
 
}
.ul{
  list-style: none;}


.li {
    font-size:16px !important;
    /* margin: 10px 0px; */
    
  }


@media only screen and (min-width: 768px) {
.footer{
margin-left: -3rem !important;
}
}


